<%= form_for @product, :html => {:multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
   <br />

   <div class="field">
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
   </div>
   <br />

      <%= f.label :image %>
    <% if @product.image_url %>
      <%= image_tag @product.image_url(:upload).to_s %>
    <% else %>
      <%= image_tag 'blank.png' %>
    <% end %>
      <%= f.file_field :image %>
  <br />
  <br />

    <div class="field">
      <%= f.label "Commercial Description" %>
      <%= f.text_area :description, rows: 5,placeholder: "Write a description...", class: "span7" %>
    </div>
  <br />

    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price %>
    </div>
  <br />

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
