<p id="notice"><%= notice %></p>


<p>
  <h2><%= @product.name %></h2>
</p>

<p>
  <b>Brewed by</b>

<p>
  <%= image_tag @product.image_url(:upload).to_s %>
</p>

<p>
  <b>Commercial Description:</b>
  <%= @product.description %>
</p>

<% if can? :manage, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  | <%= link_to 'Destroy', @product, :confirm => 'Are you sure?', :method => :delete %> 
<% end %> 

<p><%= link_to "Back to Products", products_path %></p>

<legend>Comments</legend>

<% if current_user %>
  <%= render "comments/form" %>
<% end %>

<%= render "comments/comments" %>



